{% extends 'profile/_layout.html.twig' %}

{% block title -%}
    Моё местоположение
{%- endblock title %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        #geocoding_form {
            margin: 0px auto 10px;
        }
        .find-me.btn:focus {
            border-color: transparent;
            outline: 0;
        }
        .no-browser-support {
            font-size: 18px;
            opacity: 0;
            display: none;
        }
        .coordinates b:first-child {
            margin-right: 15px;
        }
        .visible {
            display: block;
            opacity: 1;
        }
        #mapdiv {
            height: 500px;
            width: 100%;
        }
    </style>
{% endblock css %}

{% block profile_content %}
    <form method="post" id="geocoding_form" class="form-horizontal">
        <div class="form-group form-row">
            <div class="col">
                <button type="button" id="find-me" class="btn btn-sm btn-outline-info">Определить автоматически</button>
            </div>
            <div class="col">
                <input type="text" id="form_latitude" value="{{ latitude }}" name="latitude" class="form-control">
            </div>
            <div class="col">
                <input type="text" id="form_longitude" value="{{ longitude }}" name="longitude" class="form-control">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-success">Сохранить</button>
            </div>
        </div>
    </form>

    <p class="no-browser-support">Sorry, the Geolocation API isn't supported in Your browser.</p>

    <div id="mapdiv"></div>
{% endblock %}

{% block footer '' %}

{% block js %}
    {{ parent() }}

    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

{#    <script src="{{ asset('js/ol.js') }}"></script>#}
{#    <script src="{{ asset('js/kopnik.js') }}"></script>#}
    <script>
      {# renderDragableMap({{ longitude ? longitude : 82.911540 }}, {{ latitude ? latitude : 55.059946}});#}
      var mymap = L.map('mapdiv', { attributionControl:false }).setView([{{ latitude ? latitude : 55.03023587}}, {{ longitude ? longitude : 82.92034149 }}], 16);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        // __dummy
      }).addTo(mymap);

      var marker = L.marker([{{ latitude ? latitude : 55.03023587}}, {{ longitude ? longitude : 82.92034149 }}]).addTo(mymap);

      mymap.on('move', function () {
        marker.setLatLng(mymap.getCenter());

        var position = marker.getLatLng();
        lat = Number(position['lat']).toFixed(12);
        lng = Number(position['lng']).toFixed(12);

        $('#form_latitude').attr('value', lat);
        $('#form_longitude').attr('value', lng);

        //console.log(mymap.getCenter());
      });

      mymap.on('zoomanim', function () {
        marker.setLatLng(mymap.getCenter());

        var position = marker.getLatLng();
        lat = Number(position['lat']).toFixed(12);
        lng = Number(position['lng']).toFixed(12);

        $('#form_latitude').attr('value', lat);
        $('#form_longitude').attr('value', lng);

        //console.log(mymap.getCenter());
      });

      var findMeButton = $('#find-me');

      // Check if the browser has support for the Geolocation API
      if (!navigator.geolocation) {
        findMeButton.addClass("disabled");
        $('.no-browser-support').addClass("visible");
      } else {
        findMeButton.on('click', function(e) {
          e.preventDefault();
          navigator.geolocation.getCurrentPosition(function(position) {
            // Get the coordinates of the current possition.
            var lat = position.coords.latitude;
            var lon = position.coords.longitude;

            $('#form_latitude').attr('value', lat.toFixed(12));
            $('#form_longitude').attr('value', lon.toFixed(12));

            mymap.setView([lat.toFixed(12), lon.toFixed(12)], 16);
            // renderDragableMap(position.coords.longitude, position.coords.latitude)

          });
        });
      }
    </script>
{% endblock js %}
