{% extends 'base.html.twig' %}

{% block css %}
    {{ parent() }}
    <style type="text/css">
        #geocoding_form {
            margin: 0px auto 10px;
        }
        .find-me.btn:focus {
            border-color: transparent;
            outline: 0;
        }
        .no-browser-support {
            font-size: 18px;
            opacity: 0;
            display: none;
        }
        .coordinates b:first-child {
            margin-right: 15px;
        }
        .visible {
            display: block;
            opacity: 1;
        }
        #mapdiv {
            height: 500px;
            width: 100%;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Мой профиль</h1>

            {% if app.user.status == 3 %} {# User::STATUS_DECLINE #}
                <div class="flash-message flash-message-error alert alert-error alert-danger">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Ваша заявка отклонена, Пожалуйста, исправьте анкетные данные и повторите запрос.
                </div>
            {% endif %}
            
{#            <p><b>VK Access Token:</b> {{ app.user.getOauthByProvider('vkontakte').accessToken }}</p>#}

            {{ form_start(form) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.patronymic) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.birth_year) }}
            {{ form_row(form.passport_code) }}

            <div class="form-group row">
                <label class="col-form-label col-sm-3 required" for="mapdiv">Местоположение</label>
                <div class="col-sm-9">
                    <table>
                        <tr>
                            <td><button type="button" id="find-me" class="btn btn-sm btn-outline-info">Определить автоматически</button></td>
                            <td>{{ form_widget(form.latitude) }}</td>
                            <td>{{ form_widget(form.longitude) }}</td>
                        </tr>
                    </table>

                    <div id="mapdiv"></div>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}

{% block js %}
    {{ parent() }}

    {% set latitude = form.vars.data.latitude %}
    {% set longitude = form.vars.data.longitude %}

    <script>
        {% if app.user.status == 3 %} {# User::STATUS_DECLINE #}
            $('#user_update').text('Отправить заявку повторно');
        {% endif %}

        var mymap = L.map('mapdiv', { attributionControl:false }).setView([{{ latitude ? latitude : 55.03023587}}, {{ longitude ? longitude : 82.92034149 }}], 16);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          // __dummy
        }).addTo(mymap);

        var marker = L.marker([{{ latitude ? latitude : 55.03023587}}, {{ longitude ? longitude : 82.92034149 }}]).addTo(mymap);

        mymap.on('move', function () {
          marker.setLatLng(mymap.getCenter());

          var position = marker.getLatLng();
          lat = Number(position['lat']).toFixed(12);
          lng = Number(position['lng']).toFixed(12);

          $('#user_latitude').attr('value', lat);
          $('#user_longitude').attr('value', lng);

          //console.log(mymap.getCenter());
        });

        mymap.on('zoomanim', function () {
          marker.setLatLng(mymap.getCenter());

          var position = marker.getLatLng();
          lat = Number(position['lat']).toFixed(12);
          lng = Number(position['lng']).toFixed(12);

          $('#user_latitude').attr('value', lat);
          $('#user_longitude').attr('value', lng);

          //console.log(mymap.getCenter());
        });

        var findMeButton = $('#find-me');

        // Check if the browser has support for the Geolocation API
        if (!navigator.geolocation) {
          findMeButton.addClass("disabled");
          $('.no-browser-support').addClass("visible");
        } else {
          findMeButton.on('click', function(e) {
            e.preventDefault();
            navigator.geolocation.getCurrentPosition(function(position) {
              // Get the coordinates of the current possition.
              var lat = position.coords.latitude;
              var lon = position.coords.longitude;

              $('#user_latitude').attr('value', lat.toFixed(12));
              $('#user_longitude').attr('value', lon.toFixed(12));

              mymap.setView([lat.toFixed(12), lon.toFixed(12)], 16);
              // renderDragableMap(position.coords.longitude, position.coords.latitude)

            });
          });
        }
    </script>
{% endblock js %}
