{% extends 'base.html.twig' %}

{% block content %}
{#
    {% if not app.user.isConfirmed %}
        <div class="alert alert-danger" role="alert">
            Нужно подтвердить аккаунт, для этого выберите на карте ближашего заверителя и отправьте <a href="#">заявку</a>.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
#}
{#    <p>Всего участников на карте: {{ users|length }}</p>#}

    <style type="text/css">
        #mapdiv {
            height: 500px;
            width: 100%;
        }
    </style>

{#    {{ dump(users) }}#}

    <div id="mapdiv"></div>

{% endblock %}

{% block js %}
    {{ parent() }}

    <script>
      var mymap = L.map('mapdiv', { attributionControl:false }).setView([{{ app.user.latitude }}, {{ app.user.longitude }}], 4);

      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        // __dummy
      }).addTo(mymap);

      {% if users is defined %}
      {% for user in users %}
        var marker{{ user.id }} = L.marker([{{ user.latitude }}, {{ user.longitude }}]).addTo(mymap);

        //marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
        marker{{ user.id }}.bindPopup("<b>{{ user }}</b>")
      {% endfor %}
      {% endif %}
    </script>
{% endblock js %}
